{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h1>Dashboard</h1>

    <div class="alert alert-primary">Bienvenue, {{ app.user.userIdentifier}} !</div>

    <nav class="row row-cols-1 row-cols-md-2 g-2">

        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h2 class="card-title h5">Gestion des figures</h2>
                    <h3 class="card-subtitle mb-2 text-muted h6">Créez une nouvelle figure ou gérez les figures existantes</h3>
                    <p class="card-text d-grid gap-2">
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_figure_new') }}">
                            <i class="bi bi-pencil"></i> Créer une figure
                        </a>
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_figure_index') }}">
                            <i class="bi bi-file-earmark-text"></i> Gérer les figures
                        </a>
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_figure_approvement') }}">
                            <i class="bi bi-file-earmark-text"></i> Figures en attente de modération {% if countPendingFigures > 0 %}<span class="badge bg-danger">{{ countPendingFigures }}</span>{% endif %}
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h2 class="card-title h5">Gestion des catégories</h2>
                    <h3 class="card-subtitle mb-2 text-muted h6">Créez de nouvelles catégories ou gérez celles existantes</h3>
                    <p class="card-text d-grid gap-2">
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_category_new') }}">
                            <i class="bi bi-pencil"></i> Créer une catégorie
                        </a>
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_category') }}">
                            <i class="bi bi-file-earmark-text"></i> Gérer les catégories
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h2 class="card-title h5">Gestion de l'espace de discussion</h2>
                    <h3 class="card-subtitle mb-2 text-muted h6">Modérez les commentaires déposés sur les figures du site</h3>
                    <p class="card-text d-grid gap-2">
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_comment') }}">
                            <i class="bi bi-chat-left-text"></i> Commentaires en attente de modération {% if countPendingComments > 0 %}<span class="badge bg-danger">{{ countPendingComments }}{% endif %}</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h2 class="card-title h5">Gestion des utilisateurs</h2>
                    <h3 class="card-subtitle mb-2 text-muted h6">Ajoutez et gérer les utilisateurs du site-web</h3>
                    <p class="card-text d-grid gap-2">
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_user_new') }}">
                            <i class="bi bi-person-plus"></i> Créer un utilisateur
                        </a>
                        <a class="btn btn-outline-primary text-start" href="{{ path('app_user_index') }}">
                            <i class="bi bi-people"></i> Gérer les utilisateurs
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h2 class="card-title h5">Site web</h2>
                    <h3 class="card-subtitle mb-2 text-muted h6">Retournez sur le site ou déconnectez-vous</h3>
                    <p class="card-text d-grid gap-2">
                        <a class="btn btn-outline-primary text-start" href="/">
                            <i class="bi bi-house-door"></i> Retour sur le site
                        </a>
                        <a class="btn btn-outline-danger text-start" href="/logout/">
                            <i class="bi bi-power"></i> Déconnexion
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </nav>

{% endblock %}
