{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block catchphrase %}
    <div id="intro" class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 p-4 p-md-0 intro-img">
                <img src="{{ asset('assets/images/snowboard_silhouette.png') }}" width="300" class="d-block mx-auto my-4 rounded-circle img-fluid">
            </div>
            <div class="col-12 col-md-8 p-4 p-md-0 intro-text">
                <h1 class="fs-1">SnowTricks</h1>
                <p class="fs-4">Le site communautaire dédié à la pratique du snowboard !</p>
            </div>
        </div>
    </div>
{% endblock catchphrase %}

{% block body %}

    {% if figures is empty %}

        <h2>Désolé...</h2>
        <p>Il n'y a pas encore de figure. Revenez un peu plus tard !</p>

    {% else %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-0">

        {% for figure in figures %}

            {% set firstImage = figure.FigureImages|first %}

            <div class="col">
                <div class="card h-100">

                    {% if firstImage %}
                        <a href="{{ path('app_figure_show', {'id': figure.id, 'slug': figure.slug}) }}">
                            <img class="card-img-top" src="{{ asset('/uploads/images/'~firstImage.filename) }}">
                        </a>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('app_figure_show', {'id': figure.id, 'slug': figure.slug}) }}">
                                {{ figure.name }}
                            </a>
                            {% if is_granted('FIGURE_EDIT', figure) %}
                                <a href="{{ path('app_figure_edit', {'id': figure.id, 'slug': figure.slug}) }}" class="btn btn-outline-primary btn-sm" title="Modifier cette figure">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('FIGURE_DELETE', figure) %}
                                <form class="d-inline" method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ? Cette action est irréversible.');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                                    <button class="btn btn-outline-danger btn-sm" title="Supprimer cette figure"><i class="bi bi-trash3"></i></button>
                                </form>
                            {% endif %}
                        </h5>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">
                            <i class="bi bi-person-fill"></i> Par {{ figure.user.userIdentifier|default("Anonyme")|capitalize }}
                            <i class="bi bi-tag-fill"></i>
                            {% if figure.category is not null %}
                                <a href="{{ path('app_figures_by_category', {id: figure.category.id, slug: figure.category.slug}) }}">
                                    {{ figure.category.name|capitalize }}
                                </a>
                            {% else %}
                                Non-classé
                            {%endif%}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

    {% endif %}

{% endblock %}
