{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle figure{% endblock %}

{% block body %}

    <style>
        .medias li {
            display: flex;
        }
        .medias {
            margin-left: -28px;
        }
        li > div {
            max-width: 600px;
            width: 100%;
        }
    </style>

    <h1>Ajouter une nouvelle figure</h1>


    <div class="alert alert-primary">
        Après validation, votre figure sera relue et vérifiée par un administrateur sous deux jours.
        Si elle respecte les conditions d'utilisation, votre figure sera alors validée et publiée sur l'annuaire SnowTricks !
    </div>


    {{ form_start(figureType) }}

        {{ form_errors(figureType) }}

        {{ form_row(figureType.name, {
            label: "Nom :"
        }) }}

        {{ form_row(figureType.description, {
            label: "Décrivez et expliquez la figure :"
        }) }}

        {{ form_row(figureType.category) }}

        <h3>Médias</h3>
        <p>Sélectionnez une ou plusieurs vidéos en copiant directement le code embarqué (embed)</p>

        <ol class="medias"
            data-index="{{ figureType.FigureMedias|length > 0 ? figureType.FigureMedias|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(figureType.FigureMedias.vars.prototype)|e('html_attr') }}"
        >
            {% for media in figureType.FigureMedias %}
                <li class="media-item">{{ form_row(media.url) }}</li>
            {% endfor %}
        </ol>

        <button type="button" class="add_item_link mb-3 btn btn-outline-primary" data-collection-holder-class="medias">Ajouter un média</button>

        <h3>Images</h3>
        <p>Sélectionnez les images d'illustration pour cette figure</p>

        {{ form_row(figureType.images) }}

        <div style="margin-top: 20px">
            <button class="btn btn-primary btn-lg" type="submit">Valider ma figure</button>
        </div>
    {{ form_end(figureType) }}

    <script src="{{ asset('assets/js/medias-figure-form.js') }}"></script>

{% endblock %}
