{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}

    <h1>{{ figure.name }}</h1>

    <div class="small text-muted">
        Par {{ figure.user.userIdentifier|default("Anonyme")|capitalize }}, dans la catégorie

        {% if figure.category is not null %}
            <a href="{{ path('app_figures_by_category', {id: figure.category.id, slug: figure.category.slug}) }}">{{ figure.category.name|capitalize }}</a>
        {% else %}
            Non-classé
        {%endif%}

        le {{ figure.createdAt|date("d/m/Y \à H\\hi")}}</div>

    <p>{{ figure.description }}</p>

    <!-- Medias -->
    <h3>Médias</h3>

    {% if figure.FigureMedias|length < 1 %}
        <p>Aucun média n'a été ajouté pour l'instant.</p>
    {% else %}
        {% for media in figure.FigureMedias %}
            <div class="responsive-iframe">
                {{ media.url|raw }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Gallery -->
    <h3>Galerie</h3>

    {% if figure.FigureImages|length < 1 %}
        <p>Aucune image n'a été ajoutée pour l'instant.</p>
    {% else %}
        <div class="gallery">
            {% for image in figure.FigureImages %}
                <img height="200" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ figure.name }}">
            {% endfor %}
        </div>
    {% endif %}

    <!-- Comments -->
    <h3>Commentaires</h3>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(commentForm) }}
            {{ form_row(commentForm.content) }}
            <button class="btn btn-primary" type="submit">Déposer mon commentaire</button>
        {{ form_end(commentForm)}}
    {% else %}
        <p>Vous devez <a href="{{ path('app_login') }}">être connecté</a> pour déposer un commentaire.</p>
    {% endif%}

    {% if comments|length < 1 %}
        <p>Aucun commentaire n'a été déposé pour l'instant. Soyez le premier !</p>
    {% else %}
        {% for comment in comments %}
            <div class="small text-muted">Par {{ comment.user.userIdentifier|default('Anonyme') }} le {{ comment.createdAt|date("d/m/y \à H\\hi") }}</div>
            <p>{{ comment.content }}</p>

            {% if is_granted('COMMENT_DELETE', comment) %}
                <div>{% include 'comment/_delete_form.html.twig' %}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <p><a href="{{ path('app_figure_index') }}">Retour</a></p>

{% endblock %}
