{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block catchphrase %}
    {% set featuredImage = figure.FigureImages|first %}

    <style>
        #featured-img {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('uploads/images/' ~ featuredImage.filename) }}');
        }
    </style>

    <div id="featured-img" class="d-flex">
        <div class="figure-buttons text-end m-2">
            {% if is_granted('FIGURE_EDIT', figure) %}
                <a href="{{ path('app_figure_edit', {'id': figure.id, 'slug': figure.slug}) }}" class="btn btn-primary ms-1" title="Modifier cette figure">
                    <i class="bi bi-pencil"></i>
                </a>
            {% endif %}
            {% if is_granted('FIGURE_DELETE', figure) %}
                <form class="d-inline" method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ? Cette action est irréversible.');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                    <button class="btn btn-danger ms-1" title="Supprimer cette figure"><i class="bi bi-trash3"></i></button>
                </form>
            {% endif %}
        </div>
        <!-- Title -->
        <h1 class="text-light text-center fw-bold">
            {{ figure.name }}
            {% if figure.status is same as('status.pending') %}
                <span class="fs-4 text-muted">(En attente de validation)</span>
            {% elseif figure.status is same as('status.rejected') %}
                <span class="fs-4 text-danger">(Rejetée)</span>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <!-- Medias -->
        <div class="col-12 col-lg-6 p-0">
            {% if figure.FigureMedias|length < 1 %}
                <p>Aucun média n'a été ajouté pour l'instant.</p>
            {% else %}
                {% for media in figure.FigureMedias %}
                    <div class="ratio ratio-16x9">
                        {{ media.url|raw }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Gallery -->
        <div class="col-12 col-lg-6 p-0">
            {% if figure.FigureImages|length < 1 %}
                <p>Aucune image n'a été ajoutée pour l'instant.</p>
            {% else %}
                {% for image in figure.FigureImages %}
                    <img height="200" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ figure.name }}">
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Main text -->
    <div class="my-4">
        {{ figure.description|nl2br }}
    </div>

    <!-- Infos -->
    <div class="small text-muted text-center">
        {% if figure.user is not null %}
            Publié par
            <span class="badge bg-primary">
                <a class="text-light" href="{{ path('app_user_profile', {id: figure.user.id}) }}">
                    <i class="bi bi-person-fill"></i> {{ figure.user.userIdentifier|capitalize }}
                </a>
            </span>
        {% else %}
            Anonyme
        {% endif %}, dans la catégorie
        {% if figure.category is not null %}
            <span class="badge bg-primary">
                <a class="text-light" href="{{ path('app_figures_by_category', {id: figure.category.id, slug: figure.category.slug}) }}">
                    <i class="bi bi-tag-fill"></i> {{ figure.category.name|capitalize }}
                </a>
            </span>
        {% else %}
            Non-classé
        {%endif%}

        le {{ figure.createdAt|date("d/m/Y \à H\\hi")}}
    </div>

    <!-- Comments -->
    <div class="mt-3">
        <hr>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(commentForm) }}
                <div class="comment-form input-group m-auto d-block d-md-flex">
                    {{ form_row(commentForm.content) }}
                    <button class="btn btn-primary d-block d-md-flex" type="submit">Déposer mon commentaire</button>
                </div>
            {{ form_end(commentForm)}}
        {% else %}
            <p>Vous devez <a href="{{ path('app_login') }}">être connecté</a> pour déposer un commentaire.</p>
        {% endif%}

        <hr>

        <div class="comments-container">
            {% if comments|length < 1 %}
                <p>Aucun commentaire n'a été déposé pour l'instant. Soyez le premier !</p>
            {% else %}
                {% for comment in comments %}
                    <div class="border border-primary border-4 border-end-0 border-top-0 border-bottom-0 px-2 py-3 bg-light">
                        <p class="comment m-0">
                            {{ comment.content|nl2br }}
                        </p>
                    </div>
                    <div class="small text-muted text-end lh-1">
                        Par {{ comment.user.userIdentifier|default('Anonyme') }} le {{ comment.createdAt|date("d/m/y \à H\\hi") }}{% if is_granted(constant('App\\Security\\Voter\\CommentVoter::DELETE'), comment) %} - {% include 'comment/_delete_form.html.twig' %}{% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
