{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>
        <span>Bonjour, {{ app.user.username }} !</span> -
        <a href="{{ path('app_figure_new') }}">Ajouter une figure</a> -
        <a href="{{ path('app_user_profile', {'id': app.user.id})}}">Mon profil</a> -
        <a href="{{ path('app_user_index') }}">Utilisateurs</a> -
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    </p>
{% else %}
    <p>
        <a href="{{ path('app_register') }}">Créer un compte</a> -
        <a href="{{ path('app_login') }}">Se connecter</a>
    </p>
{% endif %}