{% extends 'base.html.twig' %}

{% set STATUS_PENDING = constant('App\\Entity\\Comment::STATUS_PENDING') %}
{% set STATUS_ACCEPTED = constant('App\\Entity\\Comment::STATUS_ACCEPTED') %}
{% set STATUS_REJECTED = constant('App\\Entity\\Comment::STATUS_REJECTED') %}

{% set pendingCount = (comments|filter(comment => comment.status == STATUS_PENDING ))|length %}
{% set acceptedCount = (comments|filter(comment => comment.status == STATUS_ACCEPTED ))|length %}
{% set rejectedCount = (comments|filter(comment => comment.status == STATUS_REJECTED ))|length %}

{% block title %}Gestion des commentaires{% endblock %}

{% block body %}
    <h1>Gestion des commentaires</h1>

    <div class="accordion" id="accordionPanelsStayOpenExample">

        <!-- Accordion #1 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <i class="bi bi-clock"></i>&nbsp;Commentaires en attente de modération {% if pendingCount >= 1 %} <span class="badge bg-primary ms-2">{{ pendingCount }}</span> {% endif %}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    {% if pendingCount >= 1 %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Utilisateur</th>
                                <th>Commentaire</th>
                                <th>Date d'ajout</th>
                                <th>Figure</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for comment in comments|filter(comment => comment.status == STATUS_PENDING) %}
                                    <tr>
                                        <td>{{ comment.user.userIdentifier }}</td>
                                        <td>{{ comment.content }}</td>
                                        <td>{{ comment.createdAt|date('d\/m\/Y \à H\\hi') }}</td>
                                        <td><a href="#">{{ comment.figure.name }}</a></td>
                                        <td class="text-center"><a class="link-success" href="{{ path('app_comment_update_status', {id: comment.id, status: 'accept'}) }}"><i class="bi bi-hand-thumbs-up"></i> Approuver</a></td>
                                        <td class="text-center"><a class="link-danger" href="{{ path('app_comment_update_status', {id: comment.id, status: 'refuse'}) }}"><i class="bi bi-hand-thumbs-down"></i> Désapprouver</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire à modérer pour l'instant.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Accordion #2 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Commentaires approuvés {% if acceptedCount >= 1 %} <span class="badge bg-success ms-2">{{ acceptedCount }}</span> {% endif %}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    {% if acceptedCount >= 1 %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Utilisateur</th>
                                <th>Commentaire</th>
                                <th>Date d'ajout</th>
                                <th>Figure</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for comment in comments|filter(comment => comment.status == STATUS_ACCEPTED) %}
                                    <tr>
                                        <td>{{ comment.user.userIdentifier }}</td>
                                        <td>{{ comment.content }}</td>
                                        <td>{{ comment.createdAt|date('d\/m\/Y \à H\\hi') }}</td>
                                        <td><a href="#">{{ comment.figure.name }}</a></td>
                                        <td class="text-center"><a class="link-primary" href="{{ path('app_comment_update_status', {id: comment.id, status: 'pending'}) }}"><i class="bi bi-clock"></i> Remettre en file d'attente</a></td>
                                        <td class="text-center"><a class="link-danger" href="{{ path('app_comment_update_status', {id: comment.id, status: 'refuse'}) }}"><i class="bi bi-hand-thumbs-down"></i> Désapprouver</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire approuvé pour l'instant.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Accordion #3 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Commentaires non-approuvés {% if rejectedCount >= 1 %} <span class="badge bg-danger ms-2">{{ rejectedCount }}</span> {% endif %}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    {% if rejectedCount >= 1 %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Utilisateur</th>
                                <th>Commentaire</th>
                                <th>Date d'ajout</th>
                                <th>Figure</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for comment in comments|filter(comment => comment.status == STATUS_REJECTED) %}
                                    <tr>
                                        <td>{{ comment.user.userIdentifier }}</td>
                                        <td>{{ comment.content }}</td>
                                        <td>{{ comment.createdAt|date('d\/m\/Y \à H\\hi') }}</td>
                                        <td><a href="#">{{ comment.figure.name }}</a></td>
                                        <td class="text-center"><a class="link-primary" href="{{ path('app_comment_update_status', {id: comment.id, status: 'pending'}) }}"><i class="bi bi-clock"></i> Remettre en file d'attente</a></td>
                                        <td>{% include 'comment/_delete_form.html.twig' %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire non-approuvé pour l'instant.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 mt-4">
        <a class="btn btn-outline-primary" href="{{ path('app_admin') }}">Retour</a>
    </div>

{% endblock %}