{% extends 'base.html.twig' %}

{% block title %}Modifier {{ user.userIdentifier|capitalize }}{% endblock %}

{% block body %}

    <h1>Modifier {{ user.userIdentifier|capitalize }}</h1>

    {{ form_start(editForm) }}

        {{ form_row(editForm.username, {
            label: "Nom d'utilisateur :"
        }) }}
        {{ form_row(editForm.email, {
            label: "Adresse email :"
        }) }}
        {{ form_row(editForm.password, {
            label: "Mot de passe :",
            attr: {placeholder: "Laissez vide pour ne pas le modifier"}
        }) }}
        {{ form_row(editForm.roles, {
            label: "Sélectionnez son role :"
        }) }}

        <button type="submit">Enregistrer les modifications</button>
    {{ form_end(editForm) }}


{% endblock %}
