{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}

    <h1>Créer un nouvel utilisateur</h1>

    {{ form_start(newUserType) }}

        {{ form_row(newUserType.username, {
            label: "Nom d'utilisateur :"
        }) }}
        {{ form_row(newUserType.email, {
            label: "Adresse email :"
        }) }}
        {{ form_row(newUserType.password, {
            label: "Mot de passe :"
        }) }}
        {{ form_row(newUserType.roles, {
            label: "Sélectionnez son role :"
        }) }}

        <button type="submit">Créer l'utilisateur</button>
    {{ form_end(newUserType) }}


{% endblock %}
