{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username|capitalize }}{% endblock %}

{% block body %}

    <h1>Profil de {{ user.username|capitalize }}</h1>

    <p>Bienvenue sur le profil de {{ user.username|capitalize }} !</p>
    <p class="small text-muted">Inscrit depuis le {{ user.createdAt|date('d/m/Y à H\\hi') }}</p>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODO') %}
        <h3 class="mt-5">Informations privées</h3>
            <p>
                Adresse email : {{ user.email }} <br/>
                Role : {{ user.roles[0] }}
            </p>
            <div>
                <a class="btn btn-outline-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Éditer</a>
                <a class="btn btn-outline-primary" href="{{ path('app_user_index') }}">Retour</a>
            </div>
    {% else %}
        <div>
            <a class="btn btn-outline-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
        </div>
    {% endif %}

    <h3 class="mt-5">Figures postées par {{ user.username|capitalize }}</h3>

    {% if figures|length > 0 %}

        {% include '_parts/figure_grid.part.twig' %}

    {% else %}
        <p class="text-muted">{{ user.username|capitalize }} n'a rien publié pour l'instant...</p>
    {% endif %}

{% endblock %}
