{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username|capitalize }}{% endblock %}

{% block body %}

    <h1>Profil de {{ user.username|capitalize }}</h1>

    <div class="row g-2">

        {% if user.avatar is not null %}
            {% set avatar = asset('uploads/avatars/') ~ user.avatar %}
        {% endif %}

        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
            <img class="rounded-circle shadow" width="200" src="{{ avatar|default(asset('assets/images/avatar/default.jpg')) }}">
        </div>
        <div class="col-12 col-md-9">
            <p>Bienvenue sur le profil de {{ user.username|capitalize }} !</p>
            <p class="small text-muted">Inscrit depuis le {{ user.createdAt|date('d/m/Y à H\\hi') }}</p>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODO') %}
                <h3 class="mt-5">Informations privées</h3>
                    <p>
                        Adresse email : {{ user.email }} <br/>
                        Role : {{ user.roles[0]|replace({'ROLE_ADMIN': "Administrateur", 'ROLE_MODO': "Modérateur", 'ROLE_USER': "Utilisateur"}) }}
                    </p>
                    <div>
                        <a class="btn btn-outline-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </div>
            {% else %}
                <div>
                    <a class="btn btn-outline-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
                </div>
            {% endif %}
        </div>
    </div>

    <h3 class="mt-5">Figures postées par {{ user.username|capitalize }}</h3>

    {% if figures|length > 0 %}

        {% include '_parts/figure_grid.part.twig' %}

    {% else %}
        <p class="text-muted">{{ user.username|capitalize }} n'a rien publié pour l'instant...</p>
    {% endif %}

{% endblock %}
