{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username|capitalize }}{% endblock %}

{% block body %}

    <h1>Profil de {{ user.username|capitalize }}</h1>

    <p>Bienvenue sur le profile de {{ user.username|capitalize }} !</p>
    <p class="small text-muted">Inscrit depuis le {{ user.createdAt|date('d/m/Y à H\\hi') }}</p>

    <ul>
        <li>Nom d'utilisateur : {{ user.username|capitalize }}</li>
        <li>Adresse email : {{ user.email }}</li>
        <li>Role : {{ user.roles[0] }}</li>
    </ul>

    <p><a href="{{ path('app_user_index') }}">Retour</a></p>

{% endblock %}
